/** Импорт на директивите на TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/** Шрифт "Neucha" */
@font-face {
  font-family: "Neucha";
  src: url("../static/fonts/Neucha.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/** Шрифт "Lora" */
@font-face {
  font-family: "Lora";
  src: local("Lora Regular"), local("Lora-Regular"),
    url("../static/fonts/Lora-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* purgecss ignore */
body {
  @apply bg-yellow-50;
  @apply text-gray-800;
  font-family: "Lora", sans-serif;
}
/* purgecss ignore */
h1 {
  font-family: "Neucha", sans-serif;
}

/** CSS за модула React-masonry-css */
/* purgecss ignore */
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -5px; /* gutter size offset */
  width: auto;
}
/* purgecss ignore */
.my-masonry-grid_column {
  padding-left: 5px; /* gutter size */
  background-clip: padding-box;
}
/* purgecss ignore */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 5px;
}
/**/

/* purgecss ignore */
.max-width-600 {
  max-width: 600px;
}
